opencv-contrib-python==4.4.0.46
scipy==1.4.1
matplotlib==2.2.0
Keras==2.2.5
tqdm==4.55.1
numpy==1.18.3
tensorflow_gpu==1.14.0
scikit_image==0.13.1
Pillow==8.2.0
pytest==6.2.3
scikit_learn==0.24.1
segmentation_models==1.0.1
skimage==0.0
typeguard==2.12.0
